* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #745e50;
}

.container .content {
    display: flex;
    width: 60%;
    height: 70%;
    border-radius: 10px;
}

.container .content .box {
    background: #f79585;
    width: 50%;
    height: 100%;
    margin-left: 10px;
}

.container .content .box2 {
    background: #8f4338;
    width: 50%;
    height: 100%;
}